/*Formatar tela*/
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Interface*/
.general {
  width: 100vw;
  height: 100vh;
  background: #e99a08;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/*Container*/
.container {
  width: 35vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

/*Titulo*/
.div-title {
  padding: 20px 0px 30px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

/*Formulário*/
.div-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/*Botão*/
.div-button {
  padding: 10px;
}

.button {
  width: 25vw;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: #070707;
}

.form-button {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  background: #303030;
}

/*Parágrafo*/
.div-paragraph {
  padding: 30px 0px 0px;
}

/*Link cotação Banco Central*/
a {
  color: #070707;
}

/*Digite apenas números*/
input[type="number"] {
  width: 100%;
  padding: 12px 10px;
  font-size: 1em;
  margin: 8px 0;
  border: 1px solid #303030;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

/*Resultado da conversão*/
.general-convert {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e99a08;
}

.container-convert {
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  background: #fff;
}

.title-convert {
  font-weight: 400;
}

.div-button-return {
  padding: 10px;
}

.button-return {
  width: 20vw;
  margin-top: 10px;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 15px;
  background: #070707;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button-return:hover {
  background: #303030;
}

/*Responsividade*/
@media only screen and (max-width: 600px) {
  .general{
    width: 100vw;
    background: #e99a08;
  }

  .general-convert{
    background: #e99a08;
  }

  .container-convert{
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
  }
  
    .container {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
  }

  .div-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }

  .form {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: left;
    margin-left: 100px;
  }

  input[type="number"] {
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 80vw;
  }

  .form-button {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }

  .button-return{
    width: 70vw;
  }
}
/*Desenvolvido por Witor Linhares*/
